:root {
  background-color: #eef4fa;
  font-size: 62.5%;
  --main: #4f87e7;
  --shadow: 0 0.4rem 1.4rem 0 rgba(110, 215, 249, 0.5);
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color: #565656;
}

h1 {
  font-size: 5rem;
  color: var(--main);
  margin-bottom: 4rem;
  text-align: center;
  padding-top: 2.5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--main);
  padding-bottom: 2rem;
}

label {
  color: var(--main);
  font-size: 2rem;
  padding-bottom: 1rem;
}

.container {
  padding-top: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
  align-items: center;
}

.container > * {
  width: 80%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid var(--main);
  margin-bottom: 1rem;
  color: var(--main);
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: var(--shadow);
  transform: translate(-0.15rem);
  transition: transform 100ms;
  border-radius: 10px;
}
